@use "../../styles/mixins"as *;


.portfolio {
    padding: 0 2rem 4rem 2rem;
    border-bottom: 1px solid lightgray;

    @include desktop {
        padding: 0 8.8rem 6rem 8.8rem;
    }

    &__wrapper {
        @include tablet {
            display: flex;
            gap: 2rem;
        }

        @include desktop {
            justify-content: space-between;
        }
    }

    &__title {
        position: absolute;
        color: white;
        font-size: 4rem;
        top: 2rem;
        left: 1rem;

        @include tablet {
            font-size: 3rem;
        }
    }

    &__img {
        width: 100%;
        height: 300px;
        background-color: #000;
        border-radius: 8px;
        object-fit: cover;

        @include tablet {
            height: 250px ;
        }

        &__wrapper {
            padding: 1rem 2rem;
        }

        &__individual {
            position: relative;
            margin-bottom: 2rem;

            @include desktop {
                width: 30%;
            }
        }
    }

    &__header {
        padding: 2rem 2rem;
        text-align: center;

        @include tablet {
            margin-bottom: 5rem;
        }

        @include desktop {
            font-size: 3.6rem;
            margin: 6rem 0;
        }
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 2.2rem;
        font-weight: bold;
        color: white;
        display: flex;
        gap: 3rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: 0.25s;

        &:hover {
            opacity: 1;
        }

        &--background {
            background-color: #1d3557;
            border-radius: 8px;
        }

        &__link {
            color: black;
            border: 1px solid lightgray;
            font-weight: 300;
            font-size: 1.6rem;
            background-color: #ffb703;
            text-decoration: none;
            border-radius: 4px;
            padding: 1rem 2rem;
        }

        &__text {
            font-size: 2rem;
            text-align: center;
            padding: 0 2rem;
        }
    }

}