
@use "../../styles/mixins" as *;

.test {
    &__wrapper {
        text-align: center;
        padding: 4rem 2rem;
        margin-bottom: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        height: 600px;
        border: 1px solid lightgray;
        margin-bottom: 5rem;

        @include tablet {
            padding: 4rem 8rem;
        }
    }

    &__friend {
        width: 88px;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid lightgray;
        margin-bottom: 3rem;
    }

    &__quote {
        line-height: 1.6;
        margin-bottom: 3rem;
    }

    &__name {
        font-weight: bold;
        margin-bottom: 1rem;
    }

    &__title {
        margin-bottom: 6rem;
    }

    &__role {
        width: 60%;
    }

    &__btn__container {
        display: flex;
        gap: 3rem;
    }

    &__prev-btn, &__next-btn {
        margin-top: 2rem;
        background-color: transparent;
        border: none;
        font-size: 2.5rem;
        color: #333230;
        cursor: pointer;
    }
}
