@use "../../styles/mixins"as *;

.test {
    &__wrapper {
        text-align: center;
        padding: 4rem 2rem;
        margin-bottom: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        height: 100%;
        border: 1px solid lightgray;
        margin-bottom: 5rem;

        @include tablet {
            padding: 4rem 8rem;
        }

        @include desktop {
            padding: 4rem 8.8rem;
            height: 110vh;
        }
    }

    &__friend {
        width: 88px;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid lightgray;
        margin-bottom: 3rem;
        margin-top: 2rem;

        @include desktop {
            width: 100px;
        }
    }

    &__quote {
        line-height: 1.6;
        margin-bottom: 3rem;
        font-size: 2rem;

        @include desktop {
            width: 60%;
            line-height: 2;
        }
    }

    &__name {
        font-weight: bolder;
        margin-bottom: 1rem;
    }

    &__title {
        margin-bottom: 2rem;

        @include desktop {
            font-size: 3.6rem;
        }
    }

    &__role {
        width: 60%;
    }

    &__btn__container {
        display: flex;
        gap: 3rem;
    }

    &__prev-btn,
    &__next-btn {
        margin-top: 2rem;
        background-color: transparent;
        border: none;
        font-size: 2.5rem;
        color: #333230;
        cursor: pointer;

        @include desktop {
            font-size: 3.5rem;
        }
    }

    &__btn {
        color: rgba(0, 0, 0, 0.6);
        border: 1px solid lightgray;
        font-weight: 300;
        font-size: 1.6rem;
        background-color: #ffb703;
        text-decoration: none;
        border-radius: 30px;
        padding: 0.5rem;
        margin: 2rem;
        cursor: pointer;
        width: 30%;

        @include tablet {
            width: 20%;
        }
        // margin-left: 40%;
    }
}