@use "../../styles/mixins"as *;


.exp {

    text-align: center;
    height: 80vh;
    margin: 0 2rem;

    @include desktop {
        margin: 5rem ;
        height: 55vh;
    }

    &__title {
        margin-bottom: 2rem;
        font-size: 1.5em !important;

        @include desktop {
            font-size: 3.6rem;
        }
    }

    &__btn {

        font-size: 2rem;
        height: 5.6rem;
        height: 100%;
        padding-bottom: 1rem;
        border: none;
        background-color: transparent;
        cursor: pointer;

        &:hover {
            border-bottom: 3px solid #ffb703;
        }

        &__click {
            color: #ffb703;
        }

        &__wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            margin: 4rem 0;

            // height: 6rem;
        }
    }

    &__title {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    &__duty {
        display: flex;
        text-align: left;
        align-items: center;
        justify-content: flex-start;
        // padding: 0 6rem;
        gap: 1rem;

        @include tablet {
            padding: 0 4rem;
            justify-content: space-between;
        }

        @include desktop {
            padding: 0 10rem;
        }
        

        &__wrapper {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
    }

    &__date {
        margin-bottom: 2rem;

        @include tablet {
            margin-bottom: 4rem;
        }
    }

    &__icon {
        font-size: 3rem;
        color: #ffb703;
    }

    &__text {
        width: 90%;
    }
}